<!DOCTYPE html>
<html>
<head>
    <title>Home - ADAM'S PIZZA</title>
    <meta charset='UTF-8'>
    <meta name="keywords" content="pizza, restaurant, food">
    <meta name="description" content="Best Pizza in Town">
    <meta name="author" content="Paweł Matuszak">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href='../img/icon.png'>
    <link rel='stylesheet' href='../cart-style.css'>
    <link rel='stylesheet' href='../menu-style.css'>
    <script src='https://kit.fontawesome.com/321ebabd9d.js' crossorigin='anonymous'></script>
</head>
<body>
    <%- include("_navbar.ejs") %>
    <main>
        <form action="/checkout" method="POST">
            <div class="cart-container">
            <%if (session.cart && session.cart.items.length>0) {%>
                <% session.cart.items.forEach((product) => { %>
                    <div class="cart-item container-content">
                        <img src="../img/menu/<%=product.item.img %>">
                        <p class='name' id='name'><%=product.item.name %></p>
                        <p class='desc'><%=product.item.desc %></p>
                        <p class='price'><%=product.item.price %>$</p>
                        <input class='quantity'type="number" value="<%=product.quantity%>" disabled>
                                                                                                    <!-- //validation -->
                        <a href="/remove-from-cart/<%=product.id%>" class="remove-from-cart"><i class="fas fa-times"></i></a>
                    </div>
                <% }) %>
                <div class="total">
                    <p class="total-price">Total: <%=Math.ceil(session.cart.totalPrice*100)/100%>$</p>
                    <button type="submit" class="submit-btn">Checkout</button>
                </div>
            <%}else{%>
                <div class="noitems-msg">No items in cart 
                    <div><a href="/menu" class="submit-btn noitems-msg-btn">Go shopping</a></div>
                </div>
            <%}%>
            </div>
        </form>
    </main>
    <%- include("_footer.ejs") %>
    <script src='../map.js'></script>
</body>
</html>
